set version 23.2R1.15
set system host-name bb
set system root-authentication encrypted-password "$6$jhoLvr/J$ae1PHfWD4S2uhvBWFn/wb3KJrZyswvHmcctqEzf6TKqTQ8AvlNdcJXvmZv2vxYzrO6mdFjjRPEQpbxIcMLGEu/"
set system login user admin uid 2000
set system login user admin class super-user
set system login user admin authentication encrypted-password "$6$FqgLWliK$bpPwPL./A37f388jk782pxbZFE/sDjjwKd8sVGD03xq3opTFArqaExE3r72cEx71BLq3KPQGq8tQ2zGb1EVAS/"
set system login user admin authentication ssh-ed25519 "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINqUT/BQCXNZePSgb3CfDVNnjRkpKv/nyKhItebl7Piw"
set system services ssh root-login allow
set system services netconf ssh
set system management-instance
set logical-systems p-1 interfaces lt-0/0/10 unit 3 description "p-1 to pe-a-1"
set logical-systems p-1 interfaces lt-0/0/10 unit 3 encapsulation ethernet
set logical-systems p-1 interfaces lt-0/0/10 unit 3 peer-unit 2
set logical-systems p-1 interfaces lt-0/0/10 unit 3 family inet address 192.168.10.6/30
set logical-systems p-1 interfaces lt-0/0/10 unit 3 family mpls
set logical-systems p-1 interfaces lt-0/0/10 unit 6 description "p-1 to p-2"
set logical-systems p-1 interfaces lt-0/0/10 unit 6 encapsulation ethernet
set logical-systems p-1 interfaces lt-0/0/10 unit 6 peer-unit 7
set logical-systems p-1 interfaces lt-0/0/10 unit 6 family inet address 192.168.10.13/30
set logical-systems p-1 interfaces lt-0/0/10 unit 6 family mpls
set logical-systems p-1 interfaces lt-0/0/10 unit 8 description "p-1 to p-3"
set logical-systems p-1 interfaces lt-0/0/10 unit 8 encapsulation ethernet
set logical-systems p-1 interfaces lt-0/0/10 unit 8 peer-unit 9
set logical-systems p-1 interfaces lt-0/0/10 unit 8 family inet address 192.168.10.17/30
set logical-systems p-1 interfaces lt-0/0/10 unit 8 family mpls
set logical-systems p-1 interfaces lo0 unit 0 family inet address 192.168.0.1/32
set logical-systems p-1 protocols ldp interface lt-0/0/10.3
set logical-systems p-1 protocols ldp interface lt-0/0/10.6
set logical-systems p-1 protocols ldp interface lt-0/0/10.8
set logical-systems p-1 protocols ldp interface lo0.0
set logical-systems p-1 protocols mpls interface lt-0/0/10.3
set logical-systems p-1 protocols mpls interface lt-0/0/10.6
set logical-systems p-1 protocols mpls interface lt-0/0/10.8
set logical-systems p-1 protocols ospf traffic-engineering
set logical-systems p-1 protocols ospf area 0.0.0.0 interface lt-0/0/10.3
set logical-systems p-1 protocols ospf area 0.0.0.0 interface lt-0/0/10.6
set logical-systems p-1 protocols ospf area 0.0.0.0 interface lt-0/0/10.8
set logical-systems p-1 protocols ospf area 0.0.0.0 interface lo0.0 passive
set logical-systems p-1 protocols rsvp interface lt-0/0/10.3
set logical-systems p-1 protocols rsvp interface lt-0/0/10.6
set logical-systems p-1 protocols rsvp interface lt-0/0/10.8
set logical-systems p-1 routing-options autonomous-system 65001
set logical-systems p-2 interfaces lt-0/0/10 unit 5 description "p-2 to pe-a-2"
set logical-systems p-2 interfaces lt-0/0/10 unit 5 encapsulation ethernet
set logical-systems p-2 interfaces lt-0/0/10 unit 5 peer-unit 4
set logical-systems p-2 interfaces lt-0/0/10 unit 5 family inet address 192.168.10.10/30
set logical-systems p-2 interfaces lt-0/0/10 unit 5 family mpls
set logical-systems p-2 interfaces lt-0/0/10 unit 7 description "p-2 to p-1"
set logical-systems p-2 interfaces lt-0/0/10 unit 7 encapsulation ethernet
set logical-systems p-2 interfaces lt-0/0/10 unit 7 peer-unit 6
set logical-systems p-2 interfaces lt-0/0/10 unit 7 family inet address 192.168.10.14/30
set logical-systems p-2 interfaces lt-0/0/10 unit 7 family mpls
set logical-systems p-2 interfaces lt-0/0/10 unit 10 description "p-2 to p-4"
set logical-systems p-2 interfaces lt-0/0/10 unit 10 encapsulation ethernet
set logical-systems p-2 interfaces lt-0/0/10 unit 10 peer-unit 11
set logical-systems p-2 interfaces lt-0/0/10 unit 10 family inet address 192.168.10.21/30
set logical-systems p-2 interfaces lt-0/0/10 unit 10 family mpls
set logical-systems p-2 interfaces lo0 unit 1 family inet address 192.168.0.2/32
set logical-systems p-2 protocols ldp interface lt-0/0/10.5
set logical-systems p-2 protocols ldp interface lt-0/0/10.7
set logical-systems p-2 protocols ldp interface lt-0/0/10.10
set logical-systems p-2 protocols ldp interface lo0.1
set logical-systems p-2 protocols mpls interface lt-0/0/10.5
set logical-systems p-2 protocols mpls interface lt-0/0/10.7
set logical-systems p-2 protocols mpls interface lt-0/0/10.10
set logical-systems p-2 protocols ospf traffic-engineering
set logical-systems p-2 protocols ospf area 0.0.0.0 interface lt-0/0/10.5
set logical-systems p-2 protocols ospf area 0.0.0.0 interface lt-0/0/10.7
set logical-systems p-2 protocols ospf area 0.0.0.0 interface lt-0/0/10.10
set logical-systems p-2 protocols ospf area 0.0.0.0 interface lo0.1 passive
set logical-systems p-2 protocols rsvp interface lt-0/0/10.5
set logical-systems p-2 protocols rsvp interface lt-0/0/10.7
set logical-systems p-2 protocols rsvp interface lt-0/0/10.10
set logical-systems p-2 routing-options autonomous-system 65001
set logical-systems p-3 interfaces lt-0/0/10 unit 9 description "p-3 to p-1"
set logical-systems p-3 interfaces lt-0/0/10 unit 9 encapsulation ethernet
set logical-systems p-3 interfaces lt-0/0/10 unit 9 peer-unit 8
set logical-systems p-3 interfaces lt-0/0/10 unit 9 family inet address 192.168.10.18/30
set logical-systems p-3 interfaces lt-0/0/10 unit 9 family mpls
set logical-systems p-3 interfaces lt-0/0/10 unit 12 description "p-3 to p-4"
set logical-systems p-3 interfaces lt-0/0/10 unit 12 encapsulation ethernet
set logical-systems p-3 interfaces lt-0/0/10 unit 12 peer-unit 13
set logical-systems p-3 interfaces lt-0/0/10 unit 12 family inet address 192.168.10.25/30
set logical-systems p-3 interfaces lt-0/0/10 unit 12 family mpls
set logical-systems p-3 interfaces lt-0/0/10 unit 14 description "p-3 to pe-b-1"
set logical-systems p-3 interfaces lt-0/0/10 unit 14 encapsulation ethernet
set logical-systems p-3 interfaces lt-0/0/10 unit 14 peer-unit 15
set logical-systems p-3 interfaces lt-0/0/10 unit 14 family inet address 192.168.10.29/30
set logical-systems p-3 interfaces lt-0/0/10 unit 14 family mpls
set logical-systems p-3 interfaces lo0 unit 2 family inet address 192.168.0.3/32
set logical-systems p-3 protocols ldp interface lt-0/0/10.9
set logical-systems p-3 protocols ldp interface lt-0/0/10.12
set logical-systems p-3 protocols ldp interface lt-0/0/10.14
set logical-systems p-3 protocols ldp interface lo0.2
set logical-systems p-3 protocols mpls interface lt-0/0/10.9
set logical-systems p-3 protocols mpls interface lt-0/0/10.12
set logical-systems p-3 protocols mpls interface lt-0/0/10.14
set logical-systems p-3 protocols ospf traffic-engineering
set logical-systems p-3 protocols ospf area 0.0.0.0 interface lt-0/0/10.9
set logical-systems p-3 protocols ospf area 0.0.0.0 interface lt-0/0/10.12
set logical-systems p-3 protocols ospf area 0.0.0.0 interface lt-0/0/10.14
set logical-systems p-3 protocols ospf area 0.0.0.0 interface lo0.2 passive
set logical-systems p-3 protocols rsvp interface lt-0/0/10.9
set logical-systems p-3 protocols rsvp interface lt-0/0/10.12
set logical-systems p-3 protocols rsvp interface lt-0/0/10.14
set logical-systems p-3 routing-options autonomous-system 65001
set logical-systems p-4 interfaces lt-0/0/10 unit 11 description "p-4 to p-2"
set logical-systems p-4 interfaces lt-0/0/10 unit 11 encapsulation ethernet
set logical-systems p-4 interfaces lt-0/0/10 unit 11 peer-unit 10
set logical-systems p-4 interfaces lt-0/0/10 unit 11 family inet address 192.168.10.22/30
set logical-systems p-4 interfaces lt-0/0/10 unit 11 family mpls
set logical-systems p-4 interfaces lt-0/0/10 unit 13 description "p-4 to p-3"
set logical-systems p-4 interfaces lt-0/0/10 unit 13 encapsulation ethernet
set logical-systems p-4 interfaces lt-0/0/10 unit 13 peer-unit 12
set logical-systems p-4 interfaces lt-0/0/10 unit 13 family inet address 192.168.10.26/30
set logical-systems p-4 interfaces lt-0/0/10 unit 13 family mpls
set logical-systems p-4 interfaces lt-0/0/10 unit 16 description "p-4 to pe-b-2"
set logical-systems p-4 interfaces lt-0/0/10 unit 16 encapsulation ethernet
set logical-systems p-4 interfaces lt-0/0/10 unit 16 peer-unit 17
set logical-systems p-4 interfaces lt-0/0/10 unit 16 family inet address 192.168.10.33/30
set logical-systems p-4 interfaces lt-0/0/10 unit 16 family mpls
set logical-systems p-4 interfaces lo0 unit 3 family inet address 192.168.0.4/32
set logical-systems p-4 protocols ldp interface lt-0/0/10.11
set logical-systems p-4 protocols ldp interface lt-0/0/10.13
set logical-systems p-4 protocols ldp interface lt-0/0/10.16
set logical-systems p-4 protocols ldp interface lo0.3
set logical-systems p-4 protocols mpls interface lt-0/0/10.11
set logical-systems p-4 protocols mpls interface lt-0/0/10.13
set logical-systems p-4 protocols mpls interface lt-0/0/10.16
set logical-systems p-4 protocols ospf traffic-engineering
set logical-systems p-4 protocols ospf area 0.0.0.0 interface lt-0/0/10.11
set logical-systems p-4 protocols ospf area 0.0.0.0 interface lt-0/0/10.13
set logical-systems p-4 protocols ospf area 0.0.0.0 interface lt-0/0/10.16
set logical-systems p-4 protocols ospf area 0.0.0.0 interface lo0.3 passive
set logical-systems p-4 protocols rsvp interface lt-0/0/10.11
set logical-systems p-4 protocols rsvp interface lt-0/0/10.13
set logical-systems p-4 protocols rsvp interface lt-0/0/10.16
set logical-systems p-4 routing-options autonomous-system 65001
set logical-systems pe-a-1 interfaces lt-0/0/10 unit 0 description "pe-a-1 to pe-a-2"
set logical-systems pe-a-1 interfaces lt-0/0/10 unit 0 encapsulation ethernet
set logical-systems pe-a-1 interfaces lt-0/0/10 unit 0 peer-unit 1
set logical-systems pe-a-1 interfaces lt-0/0/10 unit 0 family inet address 192.168.10.1/30
set logical-systems pe-a-1 interfaces lt-0/0/10 unit 0 family mpls
set logical-systems pe-a-1 interfaces lt-0/0/10 unit 2 description "pe-a-1 to p-1"
set logical-systems pe-a-1 interfaces lt-0/0/10 unit 2 encapsulation ethernet
set logical-systems pe-a-1 interfaces lt-0/0/10 unit 2 peer-unit 3
set logical-systems pe-a-1 interfaces lt-0/0/10 unit 2 family inet address 192.168.10.5/30
set logical-systems pe-a-1 interfaces lt-0/0/10 unit 2 family mpls
set logical-systems pe-a-1 interfaces lo0 unit 4 family inet address 192.168.0.5/32
set logical-systems pe-a-1 protocols ldp interface lt-0/0/10.0
set logical-systems pe-a-1 protocols ldp interface lt-0/0/10.2
set logical-systems pe-a-1 protocols ldp interface lo0.4
set logical-systems pe-a-1 protocols mpls label-switched-path a-to-b to 192.168.0.7
set logical-systems pe-a-1 protocols mpls interface lt-0/0/10.0
set logical-systems pe-a-1 protocols mpls interface lt-0/0/10.2
set logical-systems pe-a-1 protocols ospf traffic-engineering
set logical-systems pe-a-1 protocols ospf area 0.0.0.0 interface lt-0/0/10.0
set logical-systems pe-a-1 protocols ospf area 0.0.0.0 interface lt-0/0/10.2
set logical-systems pe-a-1 protocols ospf area 0.0.0.0 interface lo0.4 passive
set logical-systems pe-a-1 protocols rsvp interface lt-0/0/10.0
set logical-systems pe-a-1 protocols rsvp interface lt-0/0/10.2
set logical-systems pe-a-1 routing-options autonomous-system 65001
set logical-systems pe-a-2 interfaces lt-0/0/10 unit 1 description "pe-a-2 to pe-a-1"
set logical-systems pe-a-2 interfaces lt-0/0/10 unit 1 encapsulation ethernet
set logical-systems pe-a-2 interfaces lt-0/0/10 unit 1 peer-unit 0
set logical-systems pe-a-2 interfaces lt-0/0/10 unit 1 family inet address 192.168.10.2/30
set logical-systems pe-a-2 interfaces lt-0/0/10 unit 1 family mpls
set logical-systems pe-a-2 interfaces lt-0/0/10 unit 4 description "pe-a-2 to p-2"
set logical-systems pe-a-2 interfaces lt-0/0/10 unit 4 encapsulation ethernet
set logical-systems pe-a-2 interfaces lt-0/0/10 unit 4 peer-unit 5
set logical-systems pe-a-2 interfaces lt-0/0/10 unit 4 family inet address 192.168.10.9/30
set logical-systems pe-a-2 interfaces lt-0/0/10 unit 4 family mpls
set logical-systems pe-a-2 interfaces lo0 unit 5 family inet address 192.168.0.6/32
set logical-systems pe-a-2 protocols ldp interface lt-0/0/10.1
set logical-systems pe-a-2 protocols ldp interface lt-0/0/10.4
set logical-systems pe-a-2 protocols ldp interface lo0.5
set logical-systems pe-a-2 protocols mpls label-switched-path a-to-b to 192.168.0.8
set logical-systems pe-a-2 protocols mpls interface lt-0/0/10.1
set logical-systems pe-a-2 protocols mpls interface lt-0/0/10.4
set logical-systems pe-a-2 protocols ospf traffic-engineering
set logical-systems pe-a-2 protocols ospf area 0.0.0.0 interface lt-0/0/10.1
set logical-systems pe-a-2 protocols ospf area 0.0.0.0 interface lt-0/0/10.4
set logical-systems pe-a-2 protocols ospf area 0.0.0.0 interface lo0.5 passive
set logical-systems pe-a-2 protocols rsvp interface lt-0/0/10.1
set logical-systems pe-a-2 protocols rsvp interface lt-0/0/10.4
set logical-systems pe-a-2 routing-options autonomous-system 65001
set logical-systems pe-b-1 interfaces lt-0/0/10 unit 15 description "pe-b-1 to p-3"
set logical-systems pe-b-1 interfaces lt-0/0/10 unit 15 encapsulation ethernet
set logical-systems pe-b-1 interfaces lt-0/0/10 unit 15 peer-unit 14
set logical-systems pe-b-1 interfaces lt-0/0/10 unit 15 family inet address 192.168.10.30/30
set logical-systems pe-b-1 interfaces lt-0/0/10 unit 15 family mpls
set logical-systems pe-b-1 interfaces lt-0/0/10 unit 18 description "pe-b-1 to pe-b-2"
set logical-systems pe-b-1 interfaces lt-0/0/10 unit 18 encapsulation ethernet
set logical-systems pe-b-1 interfaces lt-0/0/10 unit 18 peer-unit 19
set logical-systems pe-b-1 interfaces lt-0/0/10 unit 18 family inet address 192.168.10.37/30
set logical-systems pe-b-1 interfaces lt-0/0/10 unit 18 family mpls
set logical-systems pe-b-1 interfaces lo0 unit 6 family inet address 192.168.0.7/32
set logical-systems pe-b-1 protocols ldp interface lt-0/0/10.15
set logical-systems pe-b-1 protocols ldp interface lt-0/0/10.18
set logical-systems pe-b-1 protocols ldp interface lo0.6
set logical-systems pe-b-1 protocols mpls label-switched-path a-to-b to 192.168.0.5
set logical-systems pe-b-1 protocols mpls interface lt-0/0/10.15
set logical-systems pe-b-1 protocols mpls interface lt-0/0/10.18
set logical-systems pe-b-1 protocols ospf traffic-engineering
set logical-systems pe-b-1 protocols ospf area 0.0.0.0 interface lt-0/0/10.15
set logical-systems pe-b-1 protocols ospf area 0.0.0.0 interface lt-0/0/10.18
set logical-systems pe-b-1 protocols ospf area 0.0.0.0 interface lo0.6 passive
set logical-systems pe-b-1 protocols rsvp interface lt-0/0/10.15
set logical-systems pe-b-1 protocols rsvp interface lt-0/0/10.18
set logical-systems pe-b-1 routing-options autonomous-system 65001
set logical-systems pe-b-2 interfaces lt-0/0/10 unit 17 description "pe-b-2 to p-4"
set logical-systems pe-b-2 interfaces lt-0/0/10 unit 17 encapsulation ethernet
set logical-systems pe-b-2 interfaces lt-0/0/10 unit 17 peer-unit 16
set logical-systems pe-b-2 interfaces lt-0/0/10 unit 17 family inet address 192.168.10.34/30
set logical-systems pe-b-2 interfaces lt-0/0/10 unit 17 family mpls
set logical-systems pe-b-2 interfaces lt-0/0/10 unit 19 description "pe-b-2 to pe-b-1"
set logical-systems pe-b-2 interfaces lt-0/0/10 unit 19 encapsulation ethernet
set logical-systems pe-b-2 interfaces lt-0/0/10 unit 19 peer-unit 18
set logical-systems pe-b-2 interfaces lt-0/0/10 unit 19 family inet address 192.168.10.38/30
set logical-systems pe-b-2 interfaces lt-0/0/10 unit 19 family mpls
set logical-systems pe-b-2 interfaces lo0 unit 7 family inet address 192.168.0.8/32
set logical-systems pe-b-2 protocols ldp interface lt-0/0/10.17
set logical-systems pe-b-2 protocols ldp interface lt-0/0/10.19
set logical-systems pe-b-2 protocols ldp interface lo0.7
set logical-systems pe-b-2 protocols mpls label-switched-path a-to-b to 192.168.0.6
set logical-systems pe-b-2 protocols mpls interface lt-0/0/10.17
set logical-systems pe-b-2 protocols mpls interface lt-0/0/10.19
set logical-systems pe-b-2 protocols ospf traffic-engineering
set logical-systems pe-b-2 protocols ospf area 0.0.0.0 interface lt-0/0/10.17
set logical-systems pe-b-2 protocols ospf area 0.0.0.0 interface lt-0/0/10.19
set logical-systems pe-b-2 protocols ospf area 0.0.0.0 interface lo0.7 passive
set logical-systems pe-b-2 protocols rsvp interface lt-0/0/10.17
set logical-systems pe-b-2 protocols rsvp interface lt-0/0/10.19
set logical-systems pe-b-2 routing-options autonomous-system 65001
set logical-systems te
set chassis fpc 0 pic 0 tunnel-services bandwidth 1g
set interfaces fxp0 unit 0 family inet address 10.0.0.15/24
set routing-instances mgmt_junos routing-options static route 0.0.0.0/0 next-hop 10.0.0.2
